{% extends 'base.html' %}

{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shopping Cart</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        {% if cart_products%}
        {% for product in cart_products %}
        <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                {% if product.ProdOnSale == True %}
                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                {% else %}
                
                {% endif %}
                <img src="{{product.ProdImage.url}}" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                 <center>
                    <h5 class="card-title">{{product.ProdName}}</h5>
                    <br />
                    {% if product.ProdOnSale == True %}
                        ${{product.ProdSalePrice}}
                    {% else %}
                        ${{product.ProdPrice}}
                    {% endif %}
                    <br/><br/>
                    <div class="row justify-content-center">
                        <div class="col-md-2">Quantity: </div>
                        <div class="col-md-2"><select class="form-select" id="qty-cart">
                            {% for key, value in quantities.items %}
                            {% if key == product.id|slugify %}
                            <option selected>{{value}}</option>
                            {% endif %}
                            {% endfor %}
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                          <option value="7">7</option>
                          <option value="8">8</option>
                          <option value="9">9</option>
                          <option value="10">10</option>
                        </select></div></div>
                    <br /><br />
                    <a href="{% url 'home' %}" class="btn btn-secondary">Home</a>
                    <button class="btn btn-secondary" id="add-cart" value="{{ product.id }}">Add to Cart</button>
                 </center>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        {% else %}
        There's nothing in the Cart
        <br />
        {% endif %}
    </div>
</section>
{% endblock %}