{% extends 'base.html' %}

{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to SiliKart...</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <br /><br />
            <div class="col-8">
                <p align="justify-content-center">Silikart is your one-stop shop for high-quality electronic components. Our extensive
                    catalog offers everything from microcontrollers to sensors at competitive prices. Backed by industry expertise, we
                    provide personalized support and fast shipping. Join us and unlock endless possibilities in electronics.
                </p>
                <br /><br />
            </div>
        </center>
    </div>
</div>

{% endblock %}